language: android

jdk:
  - oraclejdk8
  
android:
  components:
    - tools
    - platform-tools
    - tools
    - build-tools-25.0.0
    - android-25
    - extra-android-m2repository
    - extra-google-m2repository
    - extra-android-support
    - extra-google-google_play_services
    
  licenses:
    - 'android-sdk-preview-license-.+'
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'
    
env:
  - TRAVIS_NODE_VERSION="6"

notifications:
  email: false

sudo: false

branches:
  only:
  - master

install:
# Specify what and how to install
- echo "Install stage"
- rm -rf ~/.nvm && git clone https://github.com/creationix/nvm.git ~/.nvm && (cd ~/.nvm && git checkout `git describe --abbrev=0 --tags`) && source ~/.nvm/nvm.sh && nvm install $TRAVIS_NODE_VERSION
- npm install cordova
- cordova platform rm android
- cordova platform rm ios
- cordova platform add android
- cordova plugin add https://github.com/kadekParwanta/cordova-plugin-onyxble --variable GMS_VERSION="8487000" --variable PACKAGE_NAME="com.kadek.onyxreceiver"

script:
 - echo "Starting build"
 - cordova build android
  
release:
  - exit 0  
